body {
  background-color: beige;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: large;
  margin: 0;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  height: 5rem;
  width: 100%;
  background-color: lightpink;
  padding-right: 2rem;
}

.co {
  margin: 0;
}

.align {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.2rem;
}

.corbeille, .valid {
  cursor: pointer;
}

.corbeille,
.logo {
  width: 2rem;
}

th,
td {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 5rem;
  padding-right: 5rem;
  text-align: center; 
}

th {
  border-bottom: 1px solid black;
}

.tasks {
  margin-top: 3rem;
  border: 2px solid black;
  border-collapse: collapse;
}

.lienTache {
  color: blue;
  text-decoration: none;
}
